<tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= assignment.name %></td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
        <%= link_to 'View Assignment', assignments_show_path(assignment.id), class: 'text-indigo-600 hover:text-indigo-900' %>
    </td>
</tr>
