<div>
    <%= link_to "New Test", tests_new_path, class: "text-indigo-600 hover:text-indigo-900" %>
    <table class="table-auto pt-5">
        <thead>
            <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @tests.each do |test| %>
                <tr>
                    <td><%= link_to test.name, tests_show_path(test) %></td>
                    <td><%= test.description %></td>
                    <td>
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
