<%= form_with model: @question, url: question_create_path do |form| %>

  <%= form.text_area :text, size: "60x10" %>

  <% if @question.choices.blank? %>
    <div>Add some choices</div>
  <% end %>
<% end %>
