<div id="<%= dom_id event %>">
  <p>
    <strong>Student:</strong>
    <%= event.student_id %>
  </p>

  <p>
    <strong>Assignment:</strong>
    <%= event.assignment_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= event.type %>
  </p>

</div>
